.card{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}
.card__header{
    padding: 20px 25px;
    border-bottom: 1px solid #ebedf2;
}
.card__body{
    padding: 25px;
    height: 70vh;
    overflow-y: scroll;
}
.card__image{
    width: 50px;
    border-radius: 4px;
    padding: 0;
    margin-right: 20px;
}
.card__divider{
    padding: 20px 0;
    border-bottom: 1px dashed #ebedf2;
}
.card__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__info lable{
    color: #74788d;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
.search{
    text-align: center;
}
.search input{
    height: 30px;
    margin: 10px 0;
    padding: 5px 20px;
    font-size: 0.9rem;
    font-weight: 300;
    border: 1px solid #ebedf2;
    width: 85%;
    border-radius: 4px;
}
.search datalist, .search option{
    width: 85%;
    margin: 10px;
}