@import url("framework.css");
@import url("typography.css");
@import url("card.css");


body{
    background-color: #f9f9fc;
}
.padding-lr-5{
    padding: 0 5px;
}
.text-right{
    text-align: right;
}
.no-padding{
    padding: 0;
}
.padding-10{
    padding: 0 10px;
}
.hide-element{
    display: none;
}
.button{
    padding: 8px 24px;
    font-size: 0.9rem;
    background-color: #cecee6;
    border: 1px solid  #cecee6;
    color: #59599e;
    cursor: pointer;
}
.button:hover{
    background-color: #c2c2e8;
}